$body_background: #453C67; 
$color_one: #46C2CB;
$color_two: rgb(100,119,255);
$color_three: #6D67E4;
$color_four: #F2F7A1;
$color_border: #F2F7A1;
$inner_box_gap: 3px;


//original color pallete bgcolor: rgb(205,250,250 -- color one two three four:rgb(255,109,84) - rgb(100,119,255) - rgb(66,41,45) white :::